<suite name="Suite" parallel="tests">
<!--   <TEST NAME="TESTGC"> -->
<!--    <PARAMETER NAME="BROWSER" VALUE="CHROME"/> -->
<!--     <PACKAGES> -->
<!-- 	 <PACKAGE NAME="SCRIPT"/> -->
<!-- 	</PACKAGES> -->
<!--   </TEST> -->
  <test name="TestFF">
   <parameter name="browser" value="firefox"/>
    <packages>
	 <package name="script"/>
	</packages>
  </test>
</suite>
